/vendor/

# Ignore all files, except .gitignore files.
*
!.gitignore


# Example: uploads sub-folder "box" for table "boxes"

# Tell Git to NOT ignore your upload folders that correspond with your DB tables,
# Then tell Git to ignore all files in those folders
!/images/
/images/*

# Tell Git to NOT ignore your EACH seed file in your your upload folders.
!/images/autumn.jpg
!/images/beach.jpg
!/images/corn.jpg
!/images/dock.jpg
!/images/ferriswheel.jpg
!/images/ice.jpg
!/images/LWP3.jpg
!/images/manhattan.jpg
!/images/moon.jpg
!/images/nyc.jpg
!/images/oneworld.jpg
!/images/sailboat.jpg
!/images/skeleton.jpg
!/images/sunset.jpg
!/images/water.jpg
